<div class="content-creator-container">
    <mat-icon class="dialog-close"> close </mat-icon >
    <h2 mat-dialog-title> Criar publicação </h2>
    <mat-dialog-content class="content creator-dialog">

        <div class="creator-dialog-header">
            <img src="../../../../assets/profile-icon.png" alt="">
            <div class="content">
                <span class="content-name"> John Doe </span>
            </div>
        </div>

        <div class="creator-dialog-content">
            <input class="input-CC" type="text" placeholder="Aqui vai o textinho">
        </div>

        <app-upload-files>
        </app-upload-files>
        
        <button mat-flat-button color="primary"> Publicar </button>
    </mat-dialog-content>
</div>