<div class="content-creator-container">
    <mat-icon class="dialog-close" [matDialogClose]="true"> close </mat-icon >
    <h2 mat-dialog-title> Criar publicação </h2>
    <mat-dialog-content class="content creator-dialog">

        <div class="creator-dialog-header">
            <img src="../../../../assets/profile-icon.png" alt="">
            <div class="content">
                <span class="content-name"> John Doe </span>
            </div>
        </div>

        <div class="creator-dialog-content">
            <input class="input-CC" type="text" [formControl]="content" placeholder="Aqui vai o textinho">
        </div>

        <app-upload-files *ngIf="!isAlert" (returnFile)="fileUpload = $event">
        </app-upload-files>

        <mat-form-field appearance="outline" *ngIf="isAlert">
            <mat-label>Tipo do alerta</mat-label>
            <mat-select [formControl]="type">
              <mat-option *ngFor="let alert of types" [value]="alert.type">
                {{alert.nome}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        
        <button 
            mat-flat-button 
            color="primary" 
            [disabled]=" isAlert ? !type.valid && !content.valid : !content.valid "
            (click)="postFeed()"
        > Publicar </button>
    </mat-dialog-content>
</div>