<!--<div mat-toolbar class="app-title">Inserir Mensagens</div>-->
<div class="main-div">
  <mat-card class="center width75" *ngIf="cadastro" >
    <form autocomplete="off" novalidate [formGroup]="cadastro" (ngSubmit)="submit()" (ngReset)="reiniciarForm()">
      <mat-card-content>
        <app-input-date titulo="Data de Lançamento *" controlName="dtLancamento" [formGroup]="cadastro"></app-input-date>
        <app-input-text titulo="Seu nome *" controlName="nome" [formGroup]="cadastro"></app-input-text>
        <app-input-textarea titulo="Descrição" controlName="descricao" [formGroup]="cadastro"></app-input-textarea>
        <app-input-text titulo="Link Foto" controlName="urlFoto" [formGroup]="cadastro"></app-input-text>


      <div class="file-container" *ngIf="!file">
        <input type="file" (change)="getFile($event)" class="file" />
      </div>
      <div *ngIf="file">
        Nome do Arquivo: {{ file.name }}
        <br />
        <button (click)="file = undefined" mat-raised-button>Descartar arquivo</button>
        <button (click)="uploadFile()" mat-raised-button>Anexar arquivo</button>
      </div>
    </mat-card-content>

      <mat-card-actions>
        <button type="return" color="primary" mat-button>Cancelar</button>
        <button type="submit" color="primary" mat-flat-button>Salvar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
