<div class="container-messages">
        
    <div class="contact-list">
        <div class="contact-list-header">
            <span> Mensagens </span>
        </div>
        <div class="input-wrapper">
            <div class="input-body">
                <input type="text" placeholder="Buscar contato">
                <mat-icon> search </mat-icon>
            </div>
        </div>
        <div class="contact-list-scroll">

            <div class="contact-wrapper" *ngFor="let card of [].constructor(25)">

                <div class="contact-body">

                    <div class="contact-container">

                        <img src="../../assets/profile-icon.png" alt="">

                        <div class="messages-wrapper">

                            <span class="user-name"> teste </span>
                            <span class="user-message"> teste </span>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="chat-container">

        <div class="chat-container-header">
            <img src="../../assets/profile-icon.png" alt="">
            <span class="user-name">
                John Doe
            </span>
        </div>

        <div class="chat-container-body">

            <div class="chat-container-wrapper">

                <div class="chat-baloon left">
                    <span> Mensagem </span>
                </div>
                <div class="chat-baloon left">
                    <span> Mensagem </span>
                </div>
                <div class="chat-baloon left">
                    <span> Mensagem com mais palavras </span>
                </div>
                <div class="chat-baloon left">
                    <span> Mensagem </span>
                </div>

                <div class="chat-baloon right">
                    <span> Mensagem 1 </span>
                </div>
                <div class="chat-baloon right">
                    <span> Mensagem </span>
                </div>
                <div class="chat-baloon right">
                    <span> Mensagem </span>
                </div>

                <div class="chat-baloon left">
                    <span> Mensagem </span>
                </div>
                <div class="chat-baloon left">
                    <span> Lorem ipsum sit dolor amet </span>
                </div>
                <div class="chat-baloon left">
                    <span>
                        curabitur gravida arcu ac tortor dignissim convallis aenean et tortor at risus viverra adipiscing at in tellus integer feugiat scelerisque varius morbi enim nunc faucibus a pellentesque sit amet porttitor 
                    </span>
                </div>
                <div class="chat-baloon right">
                    <span> 
                        proin libero nunc consequat interdum varius sit amet mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere ac
                    </span>
                </div>
                <div class="chat-baloon left">
                    <span> Mensagem </span>
                </div>
                <div class="chat-baloon left">
                    <span> Mensagem </span>
                </div>
                <div class="chat-baloon left">
                    <span> Mensagem com mais palavras </span>
                </div>
                <div class="chat-baloon left">
                    <span> Mensagem </span>
                </div>

                <div class="chat-baloon right">
                    <span> Mensagem 1 </span>
                </div>
                <div class="chat-baloon right">
                    <span> Mensagem </span>
                </div>
                <div class="chat-baloon right">
                    <span> Mensagem </span>
                </div>

                <div class="chat-baloon left">
                    <span> Mensagem </span>
                </div>
                <div class="chat-baloon left">
                    <span> Lorem ipsum sit dolor amet </span>
                </div>
                <div class="chat-baloon left">
                    <span>
                        curabitur gravida arcu ac tortor dignissim convallis aenean et tortor at risus viverra adipiscing at in tellus integer feugiat scelerisque varius morbi enim nunc faucibus a pellentesque sit amet porttitor 
                    </span>
                </div>
                <div class="chat-baloon right">
                    <span> 
                        proin libero nunc consequat interdum varius sit amet mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere ac
                    </span>
                </div>

            </div>

        </div>

        <div class="chat-container-message">
            <div class="chat-container-wrapper">
                <input type="text">
                <mat-icon> search </mat-icon>
            </div>
        </div>

    </div>

</div>