<div class="container-messages">
        
    <div class="contact-list">
        <div class="contact-list-header">
            <span> Mensagens </span>
        </div>
        <div class="input-wrapper">
            <div class="input-body">
                <input type="text" placeholder="Buscar contato">
                <mat-icon> search </mat-icon>
            </div>
        </div>
        <div class="contact-list-scroll">

            <div class="contact-wrapper" *ngFor="let card of chats" (click)="getMessages(card.id)">

                <div class="contact-body">

                    <div class="contact-container">

                        <img src="../../assets/profile-icon.png" alt="">

                        <div class="messages-wrapper">

                            <span class="user-name"> {{ card.author }} </span>
                            <span class="user-message">  {{ card.Message }}  </span>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="chat-container">

        <div class="chat-container-header">
            <img src="../../assets/profile-icon.png" alt="">
            <span class="user-name">
                John Doe
            </span>
        </div>

        <div class="chat-container-body">

            <div class="chat-container-wrapper">

                <div *ngFor="let message of chat.messages" class="chat-baloon left">
                    <span> {{ message.message }} </span>
                </div>

            </div>

        </div>

        <div class="chat-container-message">
            <div class="chat-container-wrapper">
                <input type="text" [formControl]="sendInput">
                <mat-icon (click)="sendMessage()"> send </mat-icon>
            </div>
        </div>

    </div>

</div>