@import '../../styles.scss';

.container-messages{
    
    width: 100%;
    height: 98%;
    background-color: #fff;
    border: 1px solid #90CAF9;
    border-radius: 15px 15px 0px 0px;
	overflow: hidden;
}


.container-messages{
    display: flex;
    flex-direction: row;

    .contact-list{
        max-width: 350px;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-right: 1px solid #c4c4c4;

        &-header{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 70px;
            width: 100%;

            span{
                margin-left: 10px;
                font-weight: bold;
                font-size: 16px;
                color: #000;
            }
        }

        .input-wrapper{
            padding: 2px 10px;

            .input-body{
                padding: 10px 7px;
                border-radius: 10px;
                background-color: #f0f2f5;
                display: flex;
                gap: 10px;
                
                input{
                    border: none;
                    background: none;
                    outline: none !important;
                    flex: 1;
                    font-size: 14px;
                }
            }
        }

        &-scroll{
            height: 100%;
            flex: 1 1 0;
            order: 2;
            overflow: auto;
            padding-top: 5px;
            margin-bottom: 15px;

            .contact-wrapper{
                width: 100%;

                .contact-body{
                    padding: 2px 10px;

                    .contact-container{
                        padding: 10px;
                        border-radius: 7px;
                        display: flex;
                        flex-direction: row;

                        img{
                            height: 45px;
                            width: 45px;
                            border-radius: 56px;
                            margin-right: 10px;
                        }

                        .messages-wrapper{

                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            .user-name{
                                font-size: 16px;
                                font-weight: 500;
                            }

                            .user-message{
                                font-size: 14px;
                                color: #535353;
                            }

                        }

                        &.selected{
                            background-color: #eaf3ff;
                        }

                        &:hover{
                            background: #f2f2f2;
                            cursor: pointer;
                        }
                    }
                }

            }
        }
    }

    .chat-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        
        &-header{
            background-color: #F5F5F5;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 70px;
            width: 100%;
            box-shadow: 3px 0px 15px 5px #c4c4c471;
            
            border-bottom: 1px solid #c4c4c4;

            img{
                width: 45px;
                height: 45px;
                margin: 10px;
            }

            span.user-name{
                font-size: 16px;
            }
        }

        &-body{
            height: 100%;
            flex: 1 1 0;
            order: 2;
            overflow: auto;

            .chat-container-wrapper{
                padding: 0px 25px 5px 25px;

                .chat-baloon{

                    width: fit-content;
                    max-width: 37%;
                    padding: 10px;
                    padding-right: 15px;
                    margin: 5px;
                    border-radius: 10px;

                    &.right{
                        margin-left: auto;
                        background-color: #7DB6DF;

                        // &:nth-child(1){
                        //     border-radius: 10px 10px 0px 10px;
                        // }

                        // &:nth-child(n+2), &:nth-last-child(1){
                        //     border-radius: 10px 0px 0px 10px;
                        // }

                        // &:nth-last-child(1){
                        //     border-radius: 10px 0px 10px 10px;
                        // }
                    }
                    
                    &.left{
                        background-color: #F5F5F5;

                        // &:nth-child(1){
                        //     border-radius: 10px 10px 10px 0px;
                        // }

                        // &:nth-child(n+2), &:nth-last-child(1){
                        //     border-radius: 0px 10px 10px 0px;
                        // }

                        // &:nth-last-child(1){
                        //     border-radius: 0px 10px 10px 10px;
                        // }

                    }
                }

            }
        }

        &-message{
            order: 3;
            min-height: 62px;

            .chat-container-wrapper{
                padding: 10px 25px 15px 25px;
                display: flex;
                flex: 1;
                align-items: flex-end;
                align-items: center;
                gap: 10px;
                
                input{
                    width: 100%;
                    border-radius: 10px;
                    padding: 15px 15px;
                    border: none;
                    background-color: #f0f2f5;
                    border: 1px solid #c4c4c4;
                    outline: none !important;
                    font-size: 14px;
                }
            }
        }
    }
}