<div class="container-feedNews">

    <div class="container">

        <div class="creator-wrapper">

            <div class="creator-container">
                <p (click)="createContent('')"> Criar publicação </p>
            </div>
            <div class="upload-options">
                <div class="option" (click)="createContent('text')">
                    <mat-icon> format_quote </mat-icon>
                    <span> Criar texto </span>
                </div>
                <div class="option" (click)="createContent('text')">
                    <mat-icon> crop_original </mat-icon>
                    <span> Carregar foto </span>
                </div>
                <div class="option" (click)="createContent('alert')">
                    <mat-icon> campaign </mat-icon>
                    <span> Criar aviso </span>
                </div>
            </div>
        </div>
    
        <div class="timeline">

            <app-card-news 
            ta
                *ngFor="let post of posts; let i = index"
                [attr.tabindex]="i"
                aria
                [content]="post"
                [hasAlert]="post.hasAlert" 
                [alertType]="post.type"
            ></app-card-news>
    
        </div>

    </div>

</div>