<div class="container-feedNews">
    <mat-toolbar color="primary" class="header-toolbar">
      <span>Painel Social Escolar</span>
      <!--<button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>-->
    </mat-toolbar>

    <div class="app-content">
      <router-outlet> </router-outlet>
    </div>
    <!--<rodape></rodape>-->

    <!--<mat-menu #menu="matMenu">

      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span mat-list-item routerLink="/noticias">Mensagens</span>
      </button>

      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span mat-list-item routerLink="/noticias/cadastro">Inserir nova Mensagem</span>
      </button>
    </mat-menu>-->
</div>
