<div class="container-registers">
    <mat-tab-group color="primary">
		<!-- Tabale de grupos -->
        <mat-tab label="Grupos"> 
			<div class="tab-header-controls">
				<button mat-button (click)="registerGroups('create')">
					<span *ngIf="!breakPoint"> Novo grupo </span>
					<mat-icon> add </mat-icon>
				</button>

				<div class="teste-form">
					<mat-form-field appearance="outline" style="width: 100%;">
						<mat-label> Pesquisar </mat-label>
						<input matInput type="text" (keyup)="applyFilter($event)">
						<mat-icon matSuffix>	
							search
						</mat-icon>
					</mat-form-field>
				</div>
			</div>
			<div class="table">
				<mat-table matSort matTableResponsive [dataSource]="groups">
					<ng-container matColumnDef="Notify">
						<mat-header-cell *matHeaderCellDef> </mat-header-cell>
						<mat-cell *matCellDef="let element" data-label="Modelo">
							<mat-icon *ngIf="element.status === 'Inativo'">
								person_off
							</mat-icon>
						</mat-cell>
					</ng-container>
	
					<ng-container matColumnDef="ano">
						<mat-header-cell *matHeaderCellDef>
							<span> Ano </span>
						</mat-header-cell>
						<mat-cell *matCellDef="let element" data-label="ano">
							<span> {{ element.ano }} </span>
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="turma">
						<mat-header-cell *matHeaderCellDef>
							<span> Turma </span>
						</mat-header-cell>
						<mat-cell *matCellDef="let element" data-label="turma">
							<span> {{ element.turma }} </span>
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="periodo">
						<mat-header-cell *matHeaderCellDef>
							<span> Periodo </span>
						</mat-header-cell>
						<mat-cell *matCellDef="let element" data-label="periodo">
							<span> {{ element.periodo }} </span>
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="sala">
						<mat-header-cell *matHeaderCellDef>
							<span> Sala </span>
						</mat-header-cell>
						<mat-cell *matCellDef="let element" data-label="sala">
							<span> {{ element.sala }} </span>
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="Controls">
						<mat-header-cell *matHeaderCellDef>
							<span>  </span>
						</mat-header-cell>
						<mat-cell *matCellDef="let element" data-label="">
							<span>
								<mat-icon [matMenuTriggerFor]="menu_controls"> more_vert </mat-icon>
								<mat-menu #menu_controls="matMenu">
									<button mat-menu-item (click)="registerGroups('edit', element.id)">
										<mat-icon> edit </mat-icon>
										<span> Editar </span>
									</button>
									<button mat-menu-item (click)="deleteItem('groups', element.id) ? getGroups() : '' ">
										<mat-icon> delete </mat-icon>
										<span> Excluir </span>
									</button>
								  </mat-menu>
							</span>
						</mat-cell>
					</ng-container>
	
	
					<mat-header-row *matHeaderRowDef="displayedColumnsGroups; sticky: true"> </mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumnsGroups"> </mat-row>
				</mat-table>
				<div class="tab-footer">
					<app-paginator> </app-paginator>
				</div>
			</div>
        </mat-tab>

		<!-- / Table de professores  -->
        <mat-tab label="Professores"> 
			<div class="tab-header-controls">
				<button mat-button (click)="registerTeacher('create')">
					<span *ngIf="!breakPoint"> Novo grupo </span>
					<mat-icon> add </mat-icon>
				</button>

				<div class="teste-form">
					<mat-form-field appearance="outline" style="width: 100%;">
						<mat-label> Pesquisar </mat-label>
						<input matInput type="text">
						<mat-icon matSuffix>	
							search
						</mat-icon>
					</mat-form-field>
				</div>
			</div>

			<div class="table">
				<mat-table matSort matTableResponsive [dataSource]="teachers">
					<ng-container [matColumnDef]="column" *ngFor="let column of displayedColumnsTeachers ">
						<mat-header-cell *matHeaderCellDef> 
							<ng-container [ngSwitch]="column">
								<span *ngSwitchCase="'Controls'"> </span>
								<span *ngSwitchDefault> {{ column }}  </span>
							</ng-container>
						</mat-header-cell>
						<mat-cell *matCellDef="let element" [attr.data-label]="column">
							<ng-container [ngSwitch]="column">
								<span *ngSwitchCase="'Controls'"> 
									<mat-icon [matMenuTriggerFor]="menu_controls"> more_vert </mat-icon>
									<mat-menu #menu_controls="matMenu">
										<button mat-menu-item (click)="registerTeacher('edit', element.funcionarioId)">
											<mat-icon> edit </mat-icon>
											<span> Editar </span>
										</button>
										<button mat-menu-item (click)="deleteItem('teachers', element.funcionarioId) ? getGroups() : '' ">
											<mat-icon> delete </mat-icon>
											<span> Excluir </span>
										</button>
									</mat-menu>
								</span>
								<span *ngSwitchDefault> 
									{{ element[column] }}
								</span>
							</ng-container>
						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumnsTeachers; sticky: true"> </mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumnsTeachers"> </mat-row>
				</mat-table>
			</div>
		</mat-tab>

		<!-- Tabela de alunos -->
        <mat-tab label="Alunos">
			<div class="tab-header-controls">
				<button mat-button (click)="registerStudent('create')">
					<span *ngIf="!breakPoint"> Adicionar aluno </span>
					<mat-icon> add </mat-icon>
				</button>

				<div class="teste-form">
					<mat-form-field appearance="outline" style="width: 100%;">
						<mat-label> Pesquisar </mat-label>
						<input matInput type="text">
						<mat-icon matSuffix>	
							search
						</mat-icon>
					</mat-form-field>
				</div>
			</div>
			<div class="table">
				<mat-table matSort matTableResponsive [dataSource]="students">
					<ng-container [matColumnDef]="column" *ngFor="let column of displayedColumnsStudents ">
						<mat-header-cell *matHeaderCellDef> 
							<ng-container [ngSwitch]="column">
								<span *ngSwitchCase="'Controls'"> </span>
								<span *ngSwitchDefault> {{ column }}  </span>
							</ng-container>
						</mat-header-cell>
						<mat-cell *matCellDef="let element" [attr.data-label]="column">
							<ng-container [ngSwitch]="column">
								<span *ngSwitchCase="'Controls'"> 
									<mat-icon [matMenuTriggerFor]="menu_controls"> more_vert </mat-icon>
									<mat-menu #menu_controls="matMenu">
										<button mat-menu-item (click)="registerStudent('edit', element.alunoId)">
											<mat-icon> edit </mat-icon>
											<span> Editar </span>
										</button>
										<button mat-menu-item (click)="deleteItem('groups', element.alunoId) ? getGroups() : '' ">
											<mat-icon> delete </mat-icon>
											<span> Excluir </span>
										</button>
									</mat-menu>
								</span>
								<span *ngSwitchDefault> 
									{{ element[column] }}
								</span>
							</ng-container>
						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumnsStudents; sticky: true"> </mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumnsStudents"> </mat-row>
				</mat-table>
			</div>
		</mat-tab>

		<!-- Tabela de Responsaveis -->
        <mat-tab label="Responsáveis">
			<div class="tab-header-controls">
				<button mat-button (click)="registerResponsible('create')">
					<span *ngIf="!breakPoint"> Adicionar responsável </span>
					<mat-icon> add </mat-icon>
				</button>

				<div class="teste-form">
					<mat-form-field appearance="outline" style="width: 100%;">
						<mat-label> Pesquisar </mat-label>
						<input matInput type="text">
						<mat-icon matSuffix>	
							search
						</mat-icon>
					</mat-form-field>
				</div>
			</div>
			<div class="table">
				<mat-table matSort matTableResponsive [dataSource]="responsibles">
					<ng-container [matColumnDef]="column" *ngFor="let column of displayedColumnsResponsibles ">
						<mat-header-cell *matHeaderCellDef> 
							<ng-container [ngSwitch]="column">
								<span *ngSwitchCase="'Controls'"> </span>
								<span *ngSwitchDefault> {{ column }}  </span>
							</ng-container>
						</mat-header-cell>
						<mat-cell *matCellDef="let element" [attr.data-label]="column">
							<ng-container [ngSwitch]="column">
								<span *ngSwitchCase="'Controls'"> 
									<mat-icon [matMenuTriggerFor]="menu_controls"> more_vert </mat-icon>
									<mat-menu #menu_controls="matMenu">
										<button mat-menu-item (click)="registerResponsible('edit', element.id)">
											<mat-icon> edit </mat-icon>
											<span> Editar </span>
										</button>
										<button mat-menu-item (click)="deleteItem('groups', element.id) ? getStudents() : '' ">
											<mat-icon> delete </mat-icon>
											<span> Excluir </span>
										</button>
									</mat-menu>
								</span>
								<span *ngSwitchDefault> 
									{{ element[column] }}
								</span>
							</ng-container>
						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumnsResponsibles; sticky: true"> </mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumnsResponsibles"> </mat-row>
				</mat-table>
			</div>
		</mat-tab>
    </mat-tab-group>
</div>