@import '../../../styles.scss';

.container-registers{
    
    width: 100%;
    height: 98%;
    background-color: #fff;
    border: 1px solid #90CAF9;
    border-radius: 15px 15px 0px 0px;
    color: $primary-1;
	overflow: hidden;
}

.tab-header-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px;
	gap: 5px;

    button{
        height: 50px;
    }

	.teste-form{
		height: 60px;
		overflow: hidden;
	}
}

.table{

    .mat-table{
        padding: 0px 20px;
		height: calc(100vh - 195px);
    }

    mat-row,
    mat-header-row{

        mat-cell:nth-last-child(1),
        mat-header-cell:nth-last-child(1) {
            width: 50px;
            max-width: 50px;
        }
    }
}


//DIALOG CONFIG
.dialog-content-template{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	
	.content{
		width: 100%;
		height: 100%;
		
		.register-dialog{
			display: flex;
			flex-direction: column;
			height: 100%;
			gap: 15px;
			overflow: auto;		
		}
	
		.form-grid{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-items: end;
			gap: 10px;
			margin-bottom: 10px;
			max-width: 600px;
			width: 100%;
			margin: auto;

			.grid-1,
			.grid-2 {
				height: 55px;
			}

			.grid-1 {
				grid-column: span 1;
			}
			.grid-2 {
				grid-column: span 2;
			}
			.grid-textarea{
				grid-column: span 2;
			}
		}

		.container-content{
			max-width: 600px;
			margin: auto;
			display: flex;
			flex-direction: column;
			gap: 10px;

			.list-registers{
				margin-top: 20px;
				max-width: 600px;
				width: 100%;
				max-height: 400px;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 10px;
				margin: auto;
				height: 100%;
				overflow: auto;

				.button-add-list{
					width: 98%;
					padding: 20px 0;
					border: none;
					outline: none;
					background: $primary-5;
					color: $primary-1;
					border-radius: 10px;
					font-size: 14px;
					font-weight: 500;
					cursor: pointer;
				}

				.button-add-list:hover{
					transition: all .2s;
					box-shadow: 0 0 5px #00000035;
				}

				.test{
					width: 98%;
				}
			}

		}
	}
	mat-dialog-actions.controls{
		max-width: 600px;
		margin: auto;
	}
}


@media screen and (max-width: 960px) {
	.dialog-content-template > .content{
		.form-grid{
			display: flex !important;
			justify-content: center;
			flex-direction: column; 

			mat-form-field{
				width: 100%;
			}
		}
	}

	.table {
		// box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
		// 	0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

		.mat-table {
            padding: 0px 10px;

			mat-header-row {
				display: none;
			}

			mat-row {
				mat-cell {
					span {
						width: 100%;
						text-align: right !important;
					}
				}

				mat-cell:nth-last-child(1) {
					width: 100%;
					max-width: 100%;
				}
			}
		}
	}

	.mat-table {
		border: 0;
		vertical-align: middle;
	}

	.mat-table caption {
		font-size: 1em;
	}

	.mat-table .mat-header-row {
		height: 5px !important;
	}

	.mat-table .mat-header-cell {
		border: 10px solid;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	.mat-table .mat-row {
		border-bottom: 5px solid #ddd;
		display: block;
		align-items: center;
		min-height: 48px;
		padding: 0 24px;
		height: 350px !important;
	}

	.mat-table .mat-row:nth-last-child(1) {
		border: none;
	}
	/*
    .mat-table .mat-row:nth-child(even) {background: #CCC}
    .mat-table .mat-row:nth-child(odd) {background: #FFF}
    */
	.mat-table .mat-cell {
		border-bottom: 1px solid #ddd;
		display: flex;
		font-size: 1em;
		text-align: right;
		font-weight: bold;
		height: 30px;
		margin-bottom: 4%;
		justify-content: space-between;
	}
	.mat-table .mat-cell:before {
		content: attr(data-label);
		float: left;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 0.85em;
	}
	.mat-table .mat-cell:last-child {
		border-bottom: 0;
	}
	.mat-table .mat-cell:first-child {
		margin-top: 4%;
	}

	.mat-cell:last-of-type {
		padding-right: 0px !important;
	}

	.mat-cell:first-of-type {
		padding-left: 0px !important;
	}
}