<div class="main-div">
  <mat-card class="center width75" *ngIf="cadastro" >
    <form autocomplete="off" novalidate [formGroup]="cadastro" (ngSubmit)="submit()" (ngReset)="reiniciarForm()">
      <mat-card-content>
        <app-input-date titulo="Data de Lançamento *" controlName="dtLancamento" [formGroup]="cadastro"></app-input-date>
        <app-input-text titulo="Seu nome *" controlName="nome" [formGroup]="cadastro"></app-input-text>
        <app-input-textarea titulo="Qual o seu aviso?" controlName="descricao" [formGroup]="cadastro"></app-input-textarea>
    </mat-card-content>

      <mat-card-actions>
        <button type="return" color="primary" mat-button routerLink="/noticias">Cancelar</button>
        <button type="submit" color="primary" mat-flat-button>Salvar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
