<div class="dialog-content-template">
    <h2 mat-dialog-title> Novo grupo </h2>
    <mat-dialog-content class="content register-dialog">

        <form class="form-grid" autocomplete="off" [formGroup]="_form">
            <mat-form-field class="grid-2">
                <mat-label> Nome </mat-label>
                <input matInput required formControlName="Nome" />
            </mat-form-field>
            <mat-form-field class="grid-1">
                <mat-label> Ano </mat-label>
                <input matInput required formControlName="Ano" />
            </mat-form-field>
            <mat-form-field class="grid-1">
                <mat-label> Turma </mat-label>
                <input matInput required formControlName="Turma" />
            </mat-form-field>
            <mat-form-field class="grid-1">
                <mat-label> Periodo </mat-label>
                <input matInput required formControlName="Periodo" />
            </mat-form-field>
            <mat-form-field class="grid-1">
                <mat-label> Sala </mat-label>
                <input matInput required formControlName="Sala" />
            </mat-form-field>
        </form>

        <div class="list-registers">
            <app-list-item 
                *ngFor="let aluno of studentsList" 
                [Valores]="aluno"
                class="test"
            >
                
            </app-list-item>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions class="controls" align="center">
        <button mat-button mat-dialog-close> Cancelar </button>
        <button mat-flat-button color="primary" (click)="registerGroup()">Criar grupo</button>
      </mat-dialog-actions>
</div>