.list-item{
    height: 45px;

    border: 1px solid #D2D2D2;
    padding: 10px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    &:hover{
        transition: all .2s;
        box-shadow: 0 0 5px #00000035;

        mat-icon{
            transition: .2s;
            transform: translateX(5px);
        }
    }

    &-picture{
        width: 40px;
        height: 40px;
        background-size: cover;
        margin-left: 15px;
    }

    &-name{
        font-size: 14px;
        font-weight: 400;
        margin: 0 !important;
    }

    &-icon{
        margin-right: 10px;
        margin-left: auto;
        transition: .2s;
    }
}