<div class="recSenha-container">

    <div class="form-container">

        <ng-container [ngSwitch]="step">

            <div *ngSwitchCase="1" [@changeAnim]="step === 1 ? 'open' : 'close'">
                <p> Digite o CPF cadastrado para procurar sua conta </p>
                <form autocomplete="off" [formGroup]="_formRecSenha" (ngSubmit)="getCPF()">
                    <mat-form-field>
                        <mat-label> Digite seu CPF </mat-label>
                        <input 
                            matInput 
                            type="text" 
                            autocomplete="off" 
                            formControlName="cpf" 
                            required
                            mask="000.000.000-00"
                        >
                        <mat-error>
                            Preencha o campo obrigatório
                        </mat-error>
                    </mat-form-field>
                    <button mat-flat-button type="submit" color="primary" autocomplete="off" [disabled]="!_formRecSenha.valid">
                        Buscar
                    </button>
                </form>
            </div>
    
    
            <div *ngSwitchCase="2" [@changeAnim]="step === 2 ? 'open' : 'close'">
                <p> Digite e confirme a senha  </p>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label> Digite sua senha </mat-label>
                        <input matInput type="password" [formControl]="_password" autocomplete="off" required>
                        <mat-error>
                            Preencha o campo obrigatório
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label> Repita a senha </mat-label>
                        <input matInput type="password" [formControl]="_confPassword" autocomplete="off" required>
                        <mat-error>
                            Preencha o campo obrigatório
                        </mat-error>
                    </mat-form-field>
                    <p class="alert" *ngIf="validatePassword() && (_confPassword.dirty || _password.dirty)"> As senhas não coincidem </p>
                    <p class="info" *ngIf="validadeLength() && (_confPassword.dirty || _password.dirty)"> Mínimo de 4 caracteres </p>
                    <button mat-flat-button type="submit" color="primary">
                        Redefinir senha
                    </button>
                </div>
            </div>
    
            <div *ngSwitchCase="3">
    
                <mat-spinner class="spinner" mode="indeterminate"></mat-spinner>
    
            </div>

        </ng-container>


    </div>

</div>