
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$univesp-frontend-primary: mat.define-palette(mat.$indigo-palette);
$univesp-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$univesp-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$univesp-frontend-theme: mat.define-light-theme((
  color: (
    primary: $univesp-frontend-primary,
    accent: $univesp-frontend-accent,
    warn: $univesp-frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($univesp-frontend-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//Global colors

$primary-1: #4527A0;
$primary-2: #512EA9;
$primary-3: #5E35B1;
$primary-4: #AF98D8;

$secondary-1: #1565C0;
$secondary-2: #1976D3;
$secondary-3: #1E88E5;
$secondary-4: #90CAF9;

$terciary-1: #FFC415;
$terciary-2: #FFE57F;
$terciary-3: #FFF8E1;

$base-1: #141414;
$base-2: #6B6B6B;
$base-3: #989899;
$base-4: #D2D2D2;


// OVERRIDE MATERIAL

.mat-drawer-side{
    border: none !important;
}