.home-content {
  display: flex;
  flex-direction: column;
  align-items: center
}

.home-card {
  max-width: 600px;
  margin-bottom: 10px;
  width: calc(100% - 130px);
}

.material-icons.pri { color: #4527A0; }
.material-icons.blue { color: #1565C0; }
.material-icons.yellow { color: #FFC415; }

.home-buttons {
  //max-width: 600px;
  flex-direction: column;
  align-items: center
}

.header-image {
  background-size: cover;
}

.mat-card-actions{
  display: flex;
  justify-content: space-around;
}


/*
@media screen and (min-width: 325px) {
  .home-content {
    .home-card {
      width: calc(100% - 52px);
    }
  }
}

@media screen and (min-width: 801px) {
  .home-content {
    .home-card {
      width: calc(50% - 52px);
    }
  }
}

@media screen and (min-width: 1300px) {
    .home-content {
      .home-card {
        width: calc(25% - 52px);
      }
    }
}*/
