<!--<div mat-toolbar class="app-title">Mensagens</div>

<div mat-card class="float-left margin10 filtro-listagem" >
    <form autocomplete="off" novalidate [formGroup]="filtrosListagem">
        <div class="float-left width50">
            <div class="padding10">
                <app-input-text nome="Pesquise aqui"
                                controlName="texto"
                                [formGroup]="filtrosListagem">
                </app-input-text>
            </div>
        </div>
    </form>
</div>-->

<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Nova publicação
          </mat-panel-title>
        </mat-expansion-panel-header>
           <app-noticias-create></app-noticias-create>
    </mat-expansion-panel>
</mat-accordion>


    <div  class="home-content"
    infiniteScroll
    (scrolled)="onScroll()"
    *ngIf="noticias.length; else semRegistro">

    <mat-card class="home-card" *ngFor="let noticia of noticias">
        <mat-card-header>
            <img mat-card-avatar class="header-image" [src]="semFotoPerfil">

            <mat-card-title>{{noticia.nome}}</mat-card-title>
            <mat-card-subtitle> Postado em: {{noticia.dtLancamento | date: 'dd/MM/yyyy'}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p class="quebrar-linha">
              {{noticia.descricao || 'Nenhuma descrição informada'}}
            </p>
        </mat-card-content>

        <img mat-card-image [src]="noticia.urlFoto || semFoto" >

      <!--<mat-card-actions>
          <button color="primary" mat-raised-button (click)="abrir(noticia.id!)">ABRIR</button>
        </mat-card-actions>-->
    </mat-card>
</div>

<ng-template #semRegistro>
    <h1 class="full-width main-div">Nenhum registro encontrado!</h1>
</ng-template>
