<div class="home-content">
<mat-card class="home-card">
    <mat-panel-title>Nova publicação</mat-panel-title>
    <mat-card-actions>
      <button mat-flat-button routerLink="/noticias/texto">
        <span class="material-icons pri">circle</span> Criar texto</button>
      <button mat-flat-button routerLink="/noticias/cadastro">
        <span class="material-icons blue">circle</span> Carregar foto</button>
      <button mat-flat-button routerLink="/noticias/aviso">
        <span class="material-icons yellow">circle</span> Criar aviso</button>
    </mat-card-actions>
</mat-card>
</div>

<div  class="home-content"
    infiniteScroll
    (scrolled)="onScroll()"
    *ngIf="noticias.length; else semRegistro">

    <mat-card class="home-card" *ngFor="let noticia of noticias">
        <mat-card-header>
            <img mat-card-avatar class="header-image" [src]="semFotoPerfil">

            <mat-card-title>{{noticia.nome}}</mat-card-title>
            <mat-card-subtitle> Postado em: {{noticia.dtLancamento | date: 'dd/MM/yyyy'}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p class="quebrar-linha">
              {{noticia.descricao || 'Nenhuma descrição informada'}}
            </p>
        </mat-card-content>

        <img mat-card-image [src]="noticia.urlFoto" >

      <!--<mat-card-actions>
          <button color="primary" mat-raised-button (click)="abrir(noticia.id!)">ABRIR</button>
        </mat-card-actions>-->
    </mat-card>
</div>

<ng-template #semRegistro>
    <h1 class="full-width main-div">Nenhum registro encontrado!</h1>
</ng-template>
