<div class="card-wrapper">

    <div class="card-container">

        <div class="card-header">
            <img src="../../../../assets/profile-icon.png" alt="">
            <div class="content">
                <span class="content-name"> {{ postBody.author }} </span>
                <span class="content-time"> {{ postBody.date | date: 'dd/MM/YYYY' }} </span>
            </div>
        </div>
        <div class="card-content">
            <ng-container *ngIf="!postBody.hasAlert">
                <p> {{ postBody.content }}</p>
            </ng-container>
            
            <ng-container *ngIf="postBody.hasImage">
                <img [src]="postBody.media" alt="">
            </ng-container>

            <ng-container *ngIf="postBody.hasAlert">
                <div class="alert-container" [ngClass]="postBody.type">
                    <div class="alert-wrapper">
                        <p>
                            {{ postBody.content }}
                        </p>
                        <mat-divider> </mat-divider>
                        <mat-checkbox>
                            Li e concordo
                        </mat-checkbox>
                    </div>
                </div>
            </ng-container>
        </div>

    </div>

</div>