<div class="login-container">

    <div class="login-input">


        <form autocomplete="off" [formGroup]="_formLogin" (ngSubmit)="login()">
            <mat-form-field>
                <mat-label> Login </mat-label>
                <input matInput type="text" autocomplete="off" formControlName="Usuario" required>
                <mat-error>
                    Digite seu email
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label> Senha </mat-label>
                <input matInput type="password" autocomplete="off" formControlName="Senha" required>
                <mat-icon matSuffix> visibility_off </mat-icon>
                <mat-error>
                    Digite sua senha
                </mat-error>
            </mat-form-field>
            <button mat-flat-button type="submit" color="primary" autocomplete="off" [disabled]="_formLogin.invalid">
                Logar
            </button>
            <a routerLink="/rec-senha" class="reset-password"> Esqueci minha senha </a>
        </form>

    </div>

    <div class="login-background">

    </div>

</div>